body {
  background-color: #000;
  color: #fff;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  width: 1000px;
}

.title-h {
  font-size: 40px;
}

.nav-bar {
  display: block;
  width: auto;
  background: #000;
  color: #fff;
  border-style: double;
  padding: 8px;
}

.nav-item {
  display: inline-block;
  color: #fff;
  border: 4px #fff;
  border-top-style: double;
  border-bottom-style: double;
  border-left-style: solid;
  border-right-style: solid;
  color: #fff;
  text-decoration: none;
  padding: 6px;
}

.nav-item:hover {
  color: #ff0;
}

.subheader {
}

.quotegen {
  display: inline-block;
  background-color: #000;
  color: #fff;
  width: 100%;
  text-align: left;
  margin-left: 18px;
  border: none;
  font-size: 18px;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}

.front-page {
  border: 2px solid #fff;
  width: auto;
  padding: 8px;
}

.column-left {
  border: 2px solid #fff;
  display: inline-block;
  float: left;
  width: 48%;
  padding: 8px;
  height: 100%;
}

.column-right {
  border: 2px solid #fff;
  display: inline-block;
  float: right;
  width: 48%;
  padding: 8px;
  height: 100%;
}

.full-column {
  border: 2px solid #fff;
  width: 98%;
  min-height: 200px;
  padding: 8px;
  font-size: 18px;
}

.about-container{
  height: 200px;
  margin-bottom: 21px;
}

.about-page-foot {
  border: 2px solid #fff;
  width: auto;
  padding: 8px;
  display: block;
  text-align: center;
}

a {
  color: #ff0;
}

a:hover {
  color: #00f;
}

.alfm-button {
  background-color: #f00;
  display: block;
  width: 130px;
  padding: 8px;
  color: #000;
  text-decoration: none;
  font-family: "Play", sans-serif;
  border: 4px double #000;
}

.alfm-button:hover {
  background-color: #ff0;
  display: block;
  width: 130px;
  padding: 8px;
  color: #000;
  text-decoration: none;
  font-family: "Play", sans-serif;
  border: 4px double #000;
}

.chapter-list {
  list-style-type: upper-roman;
  font-family: "Verdana",sans-serif;
}