body {
  background-color: #000;
  color: #fff;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  width: 1000px;
}

.title-h {
  font-size: 40px;
}

.nav-bar {
  display: block;
  width: auto;
  background: #000;
  color: #fff;
  border-style: double;
  padding: 8px;
}

.nav-item {
  display: inline-block;
  color: #fff;
  border: 4px #fff;
  border-top-style: double;
  border-bottom-style: double;
  border-left-style: solid;
  border-right-style: solid;
  color: #fff;
  text-decoration: none;
  padding: 6px;
}

.nav-item:hover {
  color: #ff0;
}

.subheader {
}

.quotegen {
  display: inline-block;
  background-color: #000;
  color: #fff;
  width: 100%;
  text-align: left;
  margin-left: 18px;
  border: none;
  font-size: 18px;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}

.front-page {
  border: 2px solid #fff;
  width: auto;
  padding: 8px;
}
