
@font-face {
    font-family: 'pixolletta8pxmedium';
    src: url('pixolletta8px-webfont.woff2') format('woff2'),
         url('pixolletta8px-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rabbid_highway_sign_iiregular';
    src: url('rabbidhighwaysignii-webfont.woff2') format('woff2'),
         url('rabbidhighwaysignii-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #444;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    z-index: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Vollkorn', serif;
    font-weight: 600;
    font-size: 48px;
    padding: 0;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    font-family: 'rabbid_highway_sign_iiregular', Helvetica, sans-serif;
    font-size: 28px;
    padding: 0;
    margin: 1px;
    color: #000;
}


h3 {
    text-transform: uppercase;
    font-family: 'rabbid_highway_sign_iiregular', Helvetica, sans-serif;
    font-size: 24px;
    padding: 0;
    margin: 1px;
    color: #000;
    border-bottom: 2px solid #000;
}
h4 {
    text-transform: uppercase;
    font-family: 'rabbid_highway_sign_iiregular', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 0;
    margin: 1px;
    color: #000;
}

a.darkLink, a.lightLink {
    text-decoration: none;
}

a.darkLink {
    font-weight: 500;
    color: #34f0ff;
}

a.lightLink {
    font-weight: 600;
    color: #00f;
    text-decoration: none;
}

a.lightLink:hover {
    font-weight: 600;
    color: #f00;
    text-decoration: none;
}

a.darkLink:hover {
    font-weight: 600;
    color: #ff0;
}

.homeSidebar, .homeMain {
    background-color: #eee;
    border-right: 4px double #222;
    border-left: 4px double #222;
    border-top: 2px solid #222;
    border-bottom: 4px solid #222;
    z-index: 1;
}

.homeSidebar {
    float: left;
    margin: 0px 4px 1px 0px;
    padding: 4px;
    min-width: 200px;
    min-height: 320px;
}

.homeMain {
    display: flexbox;
    min-width: 600px;
    width: auto;
    margin: 0px 4px 1px 0px;
    padding: 4px;
    min-height: 480px;
}

.tabBg {
    background-color: #222;
    float:inline-start;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 70px;
    overflow-x: auto;
    overflow-y: visible;
    z-index: -99;
}

.tab {
    display: inline-block;
    border-right: 4px double #999;
    border-left: 4px double #999;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 4px 4px 2px 4px;
    margin: 0px 0px 6px 0px;
    background-color: #444;
    background-image: linear-gradient(#444, #888);
    color: #eee;
    min-width: 10%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Vollkorn', serif;
    font-weight: 600;
    overflow-y: visible;
    z-index: 9;
}

.tabLink {
    color: #eee;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Vollkorn', serif;
    font-weight: 600;
}

.tab:hover {
    background-image: none;
    background-color: #888;
    color: #444;
    text-decoration: dashed underline;
    border-color: #eee;
    overflow-y: visible;
}

.tabLink:hover {
    color: #444;
    text-decoration: underline;
    cursor: pointer;
}

.unused:hover {
    cursor: default;
    text-decoration: line-through;
    color: #ee0000;
}

ul {
    list-style-type: square;
    overflow-y: visible;
}

li {
    padding: 0;
    margin: 0;
    overflow-y: visible;
}

.here {
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: help;
    overflow-y: visible;
}
 .dropdownContent {
  display: none;
  margin-top: 2px;
  position: absolute;
  background-color: #444;
  border: 1px solid #eee;
  color: #eee;
  padding: 1px 8px 1px 8px;
  z-index: 8;
  text-transform: none;
  text-align: left;
  font-weight: 400;
  overflow-y: visible;
}
.dropdown:hover .dropdownContent {
    display: block;
    cursor: help;
    z-index: 9;
    overflow-y: visible;

  }

table {
    font-family:'Courier New', Courier, monospace;
    border-collapse: collapse;
}


td {
    border: 1px solid #000;
    text-align: left;
    padding: 4px;
    text-transform:uppercase;
}

.hovernote {
    text-decoration: dashed underline;
}

.hovernote:hover {
    cursor: help;
    color: #444;
}

.styleExample {
    background-color: #ddd;
    padding: 2px;
    border: none;
    z-index: 1;
    position: relative;
}

.styleExample:hover {
    background-color: #aaa;
    padding: 1px;
    border: 1px dotted #444;
    cursor: default;
    z-index: 2;
}