@font-face {
    font-family: 'Hussar';
    src: url('/style/HussarBoldWeb-bf92.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chicago';
    src: url('/style/chicagoflf-webfont.woff2') format('woff2'),
         url('/style/chicagoflf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    background-color: #000000;
    /* background-image: url(/assets/scenes/bg_dream.png); */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-kerning: normal;
}
#blog {
    width: 75%;
    margin: auto;
}

h1 {
    color: #ee0000;
    font-size: 51pt;
    line-height: 60pt;
    font-family: 'Hussar', Helvetica, sans-serif;
    min-width:800px;
}
h2 {
    color: #ee0000;
    font-size: 32pt;
    font-family: 'Chicago', monospace;
}
p {
    color: #fff;
    font-family: Verdana, sans-serif;
    text-align: justify;
    font-size: 17pt;
}
ol > li {
    color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 17pt;
}
sup {
    color: #888;
    font-size: smaller;
}
a {
    color: #ff0;
}
a:hover {
    color: #e00;
}

.blockquote {
    margin-left: 6%;
    width: 90%;
    padding: 6px;
    border-left: 6px solid #555;
    background-color: #222;
}
.tocLink {
    font-weight: normal;
    text-decoration: underline;
}
.articleCaption {
    color: #666;
    font-size: 14pt;
    text-align: center;
}
.fakeCode {
    font-family: 'Courier New', Courier, monospace;
}