@font-face {
    font-family: 'Hussar';
    src: url('/style/HussarBoldWeb-bf92.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chicago';
    src: url('/style/chicagoflf-webfont.woff2') format('woff2'),
         url('/style/chicagoflf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    background-color: #000000;
    /* background-image: url(/assets/scenes/bg_dream.png); */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-kerning: normal;
}

#trailer {
    color: #ee0000;
    position: absolute;
    top: 50%;
    left: 15%;
    margin: auto;
    text-align: left;
    z-index: 589;
    font-family: 'Chicago', monospace;
    font-size: 26pt;
    line-height: 30pt;
    width: 75%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #111 #000;
    max-height: 440px;
    cursor: default;
}
.noEvents {
    pointer-events: none;
}
#bigTitle {
    font-size: 51pt;
    line-height: 60pt;
    font-family: 'Hussar', Helvetica, sans-serif;
    min-width:800px;
}
#textCycle {
    color: #ee0000;
    text-decoration: underline;
    cursor: pointer;
    pointer-events: all;
}
#textCycle:hover {
    transition: 125ms;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
.cycleAnim {
    text-decoration: none !important;
}
.faded {
    text-decoration: none !important;
    animation: textFade;
    animation-duration: 1.9s;
    animation-iteration-count: 1;
}
@keyframes textTransition {
    0%  {opacity:0;}
    50% {opacity:1;}
    75% {opacity:1;}
    100% {opacity:0;}
}
@keyframes textFade {
    0%  {color:#fff;}
    100% {color:#e00;}
}